$primary-color: #3c4852;
$mobile-break-point: 767px;
$web-break-point: 1023px;
$max-screenwidth: 1500px;

$web-overallpadding: 108px 4.796% 108px 4.796%;
$web-overallpadding-bottom-zero: 108px 4.796% 0px 4.796%;
$web-overallpadding-top-bottom-zero: 0px 4.796% 0px 4.796%;
$web-overallpadding-top-zero: 0px 4.796% 108px 4.796%;
$web-overallpadding-left-zero: 108px 4.796% 108px 0px;
$web-overallpadding-right-zero: 108px 0px 108px 4.796%;

$tab-overallpadding: 32px 4.796% 32px 4.796%;
$tab-overallpadding-bottom-zero: 32px 4.796% 0px 4.796%;
$tab-overallpadding-top-bottom-zero: 0px 4.796% 0px 4.796%;
$tab-overallpadding-top-zero: 0px 4.796% 32px 4.796%;
$tab-overallpadding-left-zero: 32px 4.796% 32px 0px;
$tab-overallpadding-right-zero: 32px 0px 32px 4.796%;

$mobile-overallpadding: 32px 4.444% 32px 4.444%;
$mobile-overallpadding-bottom-zero: 32px 4.444% 0px 4.444%;
$mobile-overallpadding-top-bottom-zero: 0px 4.444% 0px 4.444%;
$mobile-overallpadding-top-zero: 0px 4.444% 32px 4.444%;
$mobile-overallpadding-left-zero: 32px 4.444% 32px 0px;
$mobile-overallpadding-right-zero: 32px 0px 32px 4.444%;